@media only screen and (max-width:1500px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 550px;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 75px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;

    }
    .text-small{
        text-align: center;

    }
    .text-small2{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
}