
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navlist{
    width: 50%;
    
    display: flex;
    align-items: center;

}

.navlist li{
    list-style: none;
    padding: 26px 30px;

}

.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;

}
.navlist li a:hover{
    
    color: gray;
}
.rightnav{
    
    width: 50%;
    text-align: right;
    padding: 0 23px;

}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firsthalf{
    width: 75%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondhalf img{
    display: block;
    margin: auto;
    border: 1px solid white;
    border-radius: 500px;
    width: 90%
    

}
.secondhalf{
    width: 30%;
}

.text-big{
    font-size: 35px;

}
.text-small{
    font-size: 20px;

}
.text-small2{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid mediumturquoise;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.btn1{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid crimson;
    border-radius: 10px;
    font-size: 18px;
    
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;

}

.btn-sm{
    padding: 3px 10px ;
    vertical-align: middle;
}
.btn-dark{
    color: rgb(62, 61, 61);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.section{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: "Roboto Slab", serif;
    padding: 10px;
}

.section-left{
    
    flex-direction: row-reverse;
    
}
.paras{
    padding: 0px 65px;
}
.sectiontag{
    padding: 10px 0;
}
.sectionsubtag{
    font-family: 'Times New Roman', Times, serif;
}
.picture img{
    width: 350px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 20px;
}
.contact{
    background-color: rgb(193, 200, 200);
    height: 110vh;
}
.text-center{
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;

}
.form{
    max-width: 62%;
    margin: 42px auto;
}
.form-input{
    margin: 13px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    

}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
